table{
    border: 1px solid;
}

td{
    padding: 5px;
    color: white;
}
tr{
    background-color: green;
    
}
th{
    background-color: white;
}

h1, h2{
    color: green;
}
nav{
    background-color: green;
    
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}